<td>
  <input type="number">
</td>
<td>
  <input type="text">
</td>
<td>
  <select>
    {{#each measurementChoices as |choice|}}
      <option>{{choice}}</option>
    {{/each}}
  </select>
</td>
<td>x</td>
